body{
	text-align: center;
}

#page
				{
					width:900px;
					text-align:left;
					background-color:#0435td;
					}
			#sidebar{
				float:left;
				width:200px;
				border:1px solid ;
				}
			#content{
				float:left;
				width:600px;
				border:1px solid;
				padding:30px;
				}
				
